.header {
  background-color: #fff;
  padding: 0;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-trigger {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.header-trigger:hover {
  color: #1890ff;
}

.header-setting {
  display: flex;
  justify-content: flex-end;
}

.header-color-content {
  height: 32px;
  text-align: right;
  line-height: 32px;
}

.header-color-picker {
  margin-top: 20px;
}

.header-avatar {
  margin: 0 20px 0 50px;
  cursor: pointer;
}